* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
} */

.background {
  position: absolute;
  top: 50%;
  left: 0;
  transform: translate(0%, -50%);
  z-index: -1;
}
.background img {
  width: 100%;
}

.container {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(0%, -50%);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.img img {
  max-width: 175px;
}

.title h1 {
  font-size: 3rem;
  margin: 1.5rem 0;
  color: #333;
}

.login-container form {
  width: 360px;
}

.login-container {
  display: flex;
  align-items: center;
  text-align: center;
}

.input-div {
  position: relative;
  display: grid;
  grid-template-columns: 7% 93%;
  margin: 25px 0;
  padding: 5px 0;
  border-bottom: 2px solid #d9d9d9;
}

.input-div:after,
.input-div::before {
  content: "";
  position: absolute;
  bottom: -2px;
  width: 0;
  height: 2px;
  background-color: #f59400;
  transition: 0.3s;
}

.input-div::after {
  right: 50%;
}

.input-div::before {
  left: 50%;
}

.focus .i i {
  color: #f59400 !important;
}

.focus div h5 {
  top: -5px !important;
  font-size: 15px !important;
}

.focus::after,
.focus::before {
  width: 50%;
}

.input-div .one {
  margin-top: 0;
}

.input-div .two {
  margin-bottom: 4px;
}

.i {
  display: flex;
  justify-content: center;
  align-items: center;
}

.i i {
  color: #d9d9d9;
  transition: 0.3s;
  font-size: 1.5rem;
}

.input-div > div {
  position: relative;
  height: 45px;
}

.input-div > div h5 {
  position: absolute;
  left: 10px;
  top: 50%;
  transform: translateY(-50%);
  color: #999;
  font-size: 18px;
  transition: 0.3s;
}

.input {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  border: none;
  outline: none;
  background: none;
  padding: 0.5rem 0.7rem;
  font-size: 1.2rem;
  color: #555;
}

/* .login-container a {
  display: block;
  text-align: right;
  text-decoration: none;
  color: #999;
  font-size: 0.9rem;
  transition: 0.3s;
} */

.login-container a:hover {
  color: #f59400;
}

.btn {
  display: block;
  width: 100%;
  height: 50px;
  border-radius: 25px;
  margin: 5rem 0 1rem 0;
  font-size: 2rem;
  outline: none;
  border: none;
  background-image: linear-gradient(to right, #f59400, #ffb444);
  cursor: pointer;
  color: #fff;
  background-size: 200%;
  transition: 0.5s;
}

.btn:hover {
  background-position: right;
}

.or {
  /* display: inline; */
  text-align: center;
  position: relative;
  color: #9b9b9b;
  font-size: 1.5rem;
  font-family: "Lilita One", cursive;
  margin: 2rem 0;
  padding: 2rem 0;
}

.or::before {
  content: "";
  width: 100px;
  height: 2px;
  position: absolute;
  background-color: #d9d9d9;
  right: 35px;
  top: 50%;
}

.or::after {
  content: "";
  width: 100px;
  height: 2px;
  position: absolute;
  background-color: #d9d9d9;
  left: 35px;
  top: 50%;
}

.register {
  /* display: flex;
  justify-content: center;
  align-items: center; */
  display: block;
  text-align: center;
  text-decoration: none;
  color: #9f3d3d;
  font-size: 0.9rem;
  transition: 0.3s;
  font-size: 1.5rem;
}
